name: go test darwin

on: [push]

env:
  DYLD_LIBRARY_PATH: /opt/senzing/g2/lib:/opt/senzing/g2/lib/macos
  LD_LIBRARY_PATH: /opt/senzing/g2/lib:/opt/senzing/g2/lib/macos
  SENZING_TOOLS_DATABASE_URL: sqlite3://na:na@/tmp/sqlite/G2C.db

permissions:
  contents: read

jobs:
  go-test-darwin:
    env:
      GO111MODULE: on
      CGO_ENABLED: 1
    name: "go test with Senzing: ${{ matrix.senzingapi-version }}; OS: ${{ matrix.os }}; Go: ${{ matrix.go }}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go: [1.21]
        os: [macos-latest]
        senzingapi-version: [production-v3]

    steps:
      - name: checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: setup go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}

      - name: install Senzing API
        uses: senzing-factory/github-action-install-senzing-api@v2
        with:
          senzingapi-version: ${{ matrix.senzingapi-version }}

      - name: copy /etc files
        run: sudo cp testdata/senzing-license/g2.lic /opt/senzing/g2/etc/g2.lic

      - name: copy test database files
        run: mkdir /tmp/sqlite && cp testdata/sqlite/G2C.db /tmp/sqlite/G2C.db

      - name: run go test
        run: go test -exec /Users/runner/work/g2-sdk-go-base/g2-sdk-go-base/bin/macos_exec_dyld.sh -v -p 1 ./...
