# Based on
# - https://github.com/marketplace/actions/setup-go-environment

name: go-test-linux.yaml
on: [push]
env:
  LD_LIBRARY_PATH: /opt/senzing/g2/lib
  SENZING_TOOLS_DATABASE_URL: "sqlite3://na:na@/tmp/sqlite/G2C.db"
jobs:
  go-test-linux:
    runs-on: ${{ matrix.os }}
    env:
      GO111MODULE: on
      CGO_ENABLED: 1
    strategy:
      matrix:
        go: ["1.21"]
        os: [ubuntu-latest]
        senzingapi-version: [staging]
    name: "go test with Senzing: ${{ matrix.senzingapi-version }}; OS: ${{ matrix.os }}; Go: ${{ matrix.go }}"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - name: Install Senzing API
        uses: Senzing/github-action-install-senzing-api@latest
        with:
          senzingapi-version: ${{ matrix.senzingapi-version }}
      - name: Copy /etc files
        run: sudo cp testdata/senzing-license/g2.lic /etc/opt/senzing/g2.lic
      - name: Copy test database files
        run: mkdir /tmp/sqlite && cp testdata/sqlite/G2C.db /tmp/sqlite/G2C.db
      - name: Run go test
        run: go test -v -p 1 ./...
